<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <!--开启包扫描，使用注解开发-->
    <context:component-scan base-package="org.lanqiao.service"></context:component-scan>
    <!--<bean id="userService" class="org.lanqiao.service.impl.UserServiceImpl">-->
        <!--<property name="userMapper" ref="userMapper"></property>-->
    <!--</bean>-->
</beans>